@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
@media (min-width: 991.98px) { 
    .mobile-menu ul li a{
        display: none;
    }
    .mobile-book {
        display: none;
    }
    .image-fileUp{
        display: none;
    }
}

 @media (max-width: 991.98px) { 
    .menu ul li a{
        display: none;
    }
    .book-btn button{
        display: none;
    }
    .slick-prev i,
    .slick-next i{
        display: none;
    }
    .book-available {
   display: none;
    }
    .about-section div{
        margin-top: 0rem;
        text-align: center;
    }
    .popup-image{
        display: none;
    }

}
.wow a {
    text-decoration: none;
    list-style: none;
}
.service-item:hover {
    background-color:#DC8E06;
    color: #FFFFFF;
}
.service-item h5:hover{
    color: #FFFFFF;
}
.service-item i:hover{
    color: #FFFFFF;
}
.image-one {
    background-image: url(/assets/img/sunset-beach.jpg);
}
.image-two{
    background-image: url(/assets/img/sky-beach.jpg);
}
.slick .item .bg {
    height: 90vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    transition: all 0.3s ease-in-out;
  }
.book-available{
    margin-top: -50px;
    z-index: 500px;
    position: absolute;
}
.list-menu li {
    position: relative;
    font-weight: 500;
}
a:is(:link,:active,:visited).actives{
    color: #DC8E06;
    padding-left: 12px;
    transition:ease-in-out;
}
.list-menu li::after{
    content: '';
    background-color: #DC8E06;
    position: absolute;
    left: 50%;
    height: 3px;
    width: 0;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
}
.list-menu a:hover{
    color: #DC8E06;
}
.list-menu li:hover::after {
    width: 100%;
    left: 0;
    font-weight: 500;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: none;
}
.slick-prev {
    left: 100px;
}
  
.slick-next {
    right: 100px;
}
.next, .prev {
    font-size: 40px;
}
h1,
h2,
p,
a,
button {
    font-family: 'Poppins', sans-serif;
}
.caption h2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 400px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    opacity: 0;
    -webkit-transition: opacity 3s,-webkit-transform 3s;
    -o-transition: opacity 3s,transform 3s;
    transition: opacity 3s,-webkit-transform 3s;
    transition: opacity 3s,transform 3s;
    transition: opacity 3s,transform 3s,-webkit-transform 3s;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
}
.caption p {
    margin-bottom: 10px;
    font-size: 1.3rem;
    opacity: 0;
    -webkit-transition: opacity 3s,-webkit-transform 3s;
    -o-transition: opacity 3s,transform 3s;
    transition: opacity 3s,-webkit-transform 3s;
    transition: opacity 3s,transform 3s;
    transition: opacity 3s,transform 3s,-webkit-transform 3s;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
}
.slick-active h2,
.slick-active p {
    z-index: 9999;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.about-section{
    margin-top: 9rem;
    padding-bottom: 6rem;
}
.about-section h1 {
    font-size: 2.5rem;
}
nav {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.4s ease-in-out;
}
nav a{
    transition: color 0.4s ease-in-out;
}
.scrolled {
    background-color: white;
}
 
.img-content img{
    transition: z-index 100ms,box-shadow 150ms, transform 350ms;
    box-shadow:10px 8px 10px rgba(0,0,0,25%);
}
  
.img-content img:hover{
    z-index:0;
    box-shadow:10px 8px 5px rgba(0,0,0,35%);
    transform: scale(1.2);
}
.slick-dots {
    display: flex;

}
.room-available {
    padding-left: 50px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.room-image img {
    height: 20rem;
    width: 100%;
}
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    color: #DC8E06;
}
.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}
.about-icon {
    color: #072957;
}
.night-badge {
    background-color: #072957;
}
.services{
    padding-bottom: 10rem;
}
